/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&family=Poppins:wght@300;400;600&display=swap');

/* CSS Variables */
:root {
    --primary-font: 'Poppins', sans-serif; 
    --secondary-font: 'Fredoka', sans-serif; 
    --primary-color:#FF80AB; /* Soft Pink */
    --secondary-color: #AB47BC; /* Purple */
    --highlight-color: #4B2377; /* Dark Purple*/ 
    --highlight-color-light: #FFD700; /* Bright Yellow */ 
     --highlight-color-star: #89CFF0; /* Sky blue */
}

/* Global Styles */
html, body {
    height: auto;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

body p {
    font-family: var(--secondary-font); 
}

/* Headings */
h1, 
h2, 
h3 {
    font-family: var(--primary-font);
}

.links-colour {
    color: var(--highlight-color);
}
/* HOME PAGE */

/* Navbar */
.navbar {
    background-color: var(--primary-color);
}

.navbar a {
    color: #FFFFFF !important;
}

/* Ovveride the navbar text color to keep the effect of the active class (show what page we are on) */
.nav-link.active {
    color: var(--secondary-color) !important; 
    font-weight: bold; 
}

/* Book now button on navbar */
.btn-navbar {
    background-color: var(--highlight-color-light) !important; 
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px; /* Rounded corners */
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.btn-navbar:hover {
    background-color: var(--secondary-color) !important; 
    color: white;
}

/* Main section */
main {
    background-color: #FFF9C4; /* Light yellow */
}

/* Hero section */
.hero {
    background: url('../images/ballons.jpg') no-repeat center center/cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.custom-heading {
    color: var(--highlight-color);
    font-size: 2rem;
}

.custom-paragraph {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #443434;
}

/* Book now button */
.hero .btn-custom {
    background-color: var(--primary-color); 
    border-color: var(--primary-color);
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    margin-bottom: 30px;
    border-radius: 20px; /* Rounded corners */
    transition: all 0.3s ease-in-out;
}

.hero .btn-custom:hover {
    background-color: var(--secondary-color); 
    border-color: var(--secondary-color);
    color: white;
}

/* About us */
.about-us {
    background-color: rgba(255, 255, 0, 0.3); /* Light yellow with 30% opacity */
    display: inline-block; 
    border-radius: 10px;
    height: 430px;
    width: 92%;
}

/* Services section */
.card-margin {
    margin-bottom: 60px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.card-body {
    flex-grow: 1; /* Content fills the card */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
    width: 100%;
}

/* Change card title colour */
.custom-title {
    color: #333333 !important;
    font-family: var(--primary-font);
}

/* Change card body colour */
.custom-body {
    color: #666666 !important;
    font-family: var(--secondary-font);
}

.btn {
    align-self: center; 
}

/* Change cards button color */
.btn-card {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-align: center;
    margin-bottom: 20px;
}

.btn-card:hover {
    background-color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}


/* Footer */
footer {
    position: relative;
    width: 100%;
    padding: 10px 0;
    background-color: #333333;
    color: #FFFFFF;
}

/* SERVICES PAGE */

.services {
    background: linear-gradient(
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)), 
    url('../images/services.jpg') no-repeat center center/cover;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

/* No bullet points */
ul {
    list-style-type: none;
}

/* Text styling */
.servcies-text {
    text-align: justify;
    margin: 0 50px;
}

.icon-colour {
    color: var(--primary-color);
}

/* Flip cards */

* {
    box-sizing: border-box;
}

/* Columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row-flip-card {
    margin: 50px -5px;
}

.row-flip-card:after {
    content: "";
    display: table;
    clear: both;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1; 
    perspective: 1000px; /* 3D effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* card effect*/
    text-align: center;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;  /* Safari */
    backface-visibility: hidden;
}

.front-text {
    position: absolute;
    top: 20px;
    padding-left: 65px;
    color: var(--highlight-color);
    font-family: var(--primary-font);
}

  /* Style the back side */
.flip-card-back {
    background-color: var(--secondary-color);
    color: #ffffff;
    transform: rotateY(180deg);
    font-size: large;
}












/* Media queries */

/* Smaller smartphones */
@media (max-width: 576px) {
    .card {
        margin-top: 15px;
    }

    .brand-text {
        display: none;  /* Hide FunTime Celebrations text from navbar on mobile */
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

}

/* Larger smartphones and small tablets */
@media only screen and (max-width: 768px) {
    .navbar-collapse {
        background: var(--primary-color);
        padding: 10px;
    }

    .navbar {
        padding: 10px;
    }

    .navbar-brand img {
        width: 40px;
        height: auto;
    } 

    .hero h1 {
        font-size: 28px; 
    }
    .hero p {
        font-size: 16px;
    }

    .about-us {
        height: auto; /* Remove fixed height */
        width: 90%;
        padding: 20px;
    }

    footer .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }

    
}

@media (min-width: 960px) {
    
}

